deep-network/HomeWorks/3/HW3-env/*
deep-network/HomeWorks/4/examples_CNN.zip
deep-network/HomeWorks/4/hymenoptera_data.zip
deep-network/HomeWorks/4/Intel*
deep-network/HomeWorks/4/myenv
deep-network/HomeWorks/4/extracted_features
deep-network/HomeWorks/4/data
deep-network/HomeWorks/4/cifar10.zip
deep-network/HomeWorks/5/NLMCXR*
deep-network/HomeWorks/mnist/mnist_Data/
*.pth
